.btn
	position: relative
	display: inline-block
	height: 60px
	border: none
	outline: none
	padding: 0 125px
	border-radius: 4px
	background: $accent
	text-align: center
	font-size: 16px
	color: #000
	line-height: 60px
	font-weight: 700
	letter-spacing: .2px
	border-radius: 60px

	&:hover, &:focus
		background: #FBB03B
		outline: none
		border: none
		text-decoration: none
		cursor: pointer
		transition: all .3s
		box-shadow: 0 5px 10px rgba($text, .4)
		color: #000

