.form

	label.error
			position: absolute
			bottom: -15px
			right: 25px
			left: 25px
			height: 20px
			transition: all .3s
			animation: error .3s linear 1 forwards
			color: red
			text-align: center
			font-weight: 600
			background-color: $accent
			border-radius: 10px
			&::before
				content: ''
				position: absolute
				left: 50%
				top: -8px
				margin-left: -2px
				border-bottom: 4px solid $accent
				border-left: 4px solid transparent
				border-right: 4px solid transparent
				border-top: 4px solid transparent

	h3
		text-align: center
		margin-bottom: 20px

	div
		position: relative
		margin-bottom: 20px
		width: 100%
		&:last-child
			margin-bottom: 0

	input
		width: 100%
		height: 40px
		line-height: 40px
		border: none
		background: #E9EFF6
		border-radius: 40px
		font-size: 15px
		padding: 0 15px

		&::placeholder
			font-size: 15px


	&--page
		width: 670px
		margin: 0 auto
		color: #fff
		background: #4A4A62
		border-radius: 4px
		box-shadow: 0 0 0 rbga(#4A4A62, .3)
		padding: 35px

		input, 
			width: 100%
			border-radius: 4px
			height: 30px
			line-height: 30px
			padding: 0 5px
			
		textarea
			width: 100%
			border-radius: 4px
			line-height: 1.1
			padding: 5px
			background: #E9EFF6
			font-size: 15px
			&::placeholder
				font-size: 15px

		label
			margin-bottom: 0
			font-weight: 500

		h3
			margin-bottom: 30px
			text-align: center
			font-size: 22px

		.btn
			display: block
			width: 100%
